---
layout: page
title: "Our Maintainers"
permalink: /maintainers/
excerpt: Maintainers manage lesson amendments and upgrades for our global Carpentries Community.
---

{% include lazyload.html %}

<p>Carpentries Maintainers work with the community to make sure that lessons stay up-to-date, accurate, functional and cohesive.
Maintainers can expect to acquire this <a href="https://github.com/carpentries/commons/blob/master/text-for-maintainers.md">skill set</a>.
<a href="https://docs.carpentries.org/topic_folders/maintainers/index.html">Find out more about becoming a Maintainer.</a></p>

<p>This page lists the Maintainers who have already consented to be listed on our website. If you are a badged
  Maintainer whose details do not appear here, but you would like to be listed, please 
  <a href="https://amy.carpentries.org/">update your Instructor profile</a> in AMY and agree to make
  your profile public. <b>Login with GitHub</b> and save your  
  changes. If you are unable to log in, please 
  <a href="mailto:{{site.contact}}">email us</a>. </p>
<br><br><br>
<div class="container">

{% assign people_list = site.data.all_badged_people | where: "is_maintainer", "true" %}

{% include community_profiles.md %}

</div>
