---
layout: page
title: "Our Maintainers"
permalink: /maintainers/
excerpt: Maintainers manage lesson amendments and upgrades for our global Carpentries Community.
---

{% include lazyload.html %}

<p>HPC Carpentry Maintainers work with the community to make sure that lessons stay up-to-date, accurate, functional and cohesive.
Maintainers can expect to acquire this <a href="https://github.com/carpentries/commons/blob/master/text-for-maintainers.md">skill set</a>.
To become a maintainer <a href="/contact">Contact us</a>.</p>

<p>This page lists the Maintainers who have already consented to be listed on our website. If you are a
  Maintainer whose details do not appear here, but you would like to be listed, please 
  <a href="/contact">Contact us</a>. </p>
<br><br><br>
<!--
<div class="container">

{% assign people_list = site.data.all_badged_people | where: "is_maintainer", "true" %}

{% include community_profiles.md %}

</div>
-->
