---
layout: page
permalink: /regions_uk/
---
{% include lazyload.html %}
<div class="container">
<h1>The Carpentries in the United Kingdom</h1>

<!-- BEGIN Section: About the Admin -->

Aleksandra Nenadic and Giacomo Peru are our Regional Coordinators in the United Kingdom. They work with the <a href="https://www.software.ac.uk/">Software Sustainability Institute</a> and are ready to help you with any questions you have about running Carpentries workshops or any other ways you can get involved with The Carpentries in the United Kingdom!  Contact them at <a href="mailto:{{site.contact_uk}}">{{site.contact_uk}}</a>.
<br><br>

<!-- END Section: About the Admin -->


<!-- BEGIN Section: Admin images  -->

<div class="row">
  <div class="medium-6 columns">
    <div class="team-member">
      <img data-src="https://avatars.githubusercontent.com/anenadic" width="128" height="128" class="img-responsive img-circle lazyload" alt="GitHub profile photo of Aleks Nenadic" />
      <h3>Aleksandra Nenadic</h3>
      <ul class="list-inline social-buttons">
        <li> <a href="https://github.com/anenadic"> <i class="fab fa-github"></i> </a> </li>
        <li> <a href="https://orcid.org/0000-0002-2269-3894"> <i class="far fa-file-alt"></i> </a> </li>
      </ul>
    </div>
  </div>

  <div class="medium-6 columns">
    <div class="team-member">
      <img data-src="https://avatars.githubusercontent.com/gperu" width="128" height="128" class="img-responsive img-circle lazyload" alt="GitHub profile photo of Aleks Nenadic" />
      <h3>Giacomo Peru</h3>
      <ul class="list-inline social-buttons">
        <li> <a href="https://github.com/gperu"> <i class="fab fa-github"></i> </a> </li>
      </ul>
    </div>
  </div>
</div>

<!-- END Section: Admin images  -->


<!-- BEGIN Section: Workshop Request & Other info  -->

Want to host a Carpentries workshop in the UK?  Fill out <a href="https://amy.carpentries.org/forms/workshop/">this form</a> and Aleks or Giacomo will get right back to you!  
<br><br>
General questions about The Carpentries outside of the United Kingdom?  Contact <a href="mailto:{{site.contact}}">{{site.contact}}</a> and we’ll get your message to the right team member to follow up.
<br><br>

<!-- END Section: Workshop Request & Other info  -->


<!-- BEGIN Section: Upcoming Workshops  -->

<section id="team" class="bg-light-gray">

  <h2>Upcoming Carpentries Workshops in the United Kingdom</h2>

  {% assign workshop_list = site.data.all_upcoming_workshops  | where: "country", "GB" %}
   {% if workshop_list == empty %}
      There are no upcoming Carpentries workshops in the United Kingdom. <a href="mailto:admin-uk@carpentries.org">Contact us</a> to learn how to host a workshop at your site!<br><br>
  {% else %}  
      {% include workshop_table.md %}<br><br>
  {% endif %}

<!-- END Section: Upcoming Workshops  -->


<!-- BEGIN Section: Upcoming Other Events  -->

  <h2>Other Events in the United Kingdom</h2>
  <table class="table table-striped" style="width: 100%;">
    <tr>
      <td>
        <a href="https://software.ac.uk/ccmcr19">Carpentries Connect Manchester</a>
      </td>
      <td>
        25-27 June 2019
      </td>
    </tr>
  </table>

<!-- END Section: Upcoming Other Events  -->

<!-- BEGIN Section: Instructors  -->

<h2>Our Instructor Community in the United Kingdom</h2>

{% assign people_list = site.data.all_badged_people | where:"is_instructor","true" | where: "country", "GB" %}
{% include community_profiles.md %}

<!-- END Section: Instructors  -->


</div>
