---
layout: page
permalink: /workshopadmin_nz/
---
{% include lazyload.html %}

<h1>Carpentries in New Zealand</h1>

<!-- BEGIN Section: About the Admin -->

Nooriyah Lohani is our Workshop Administrator in New Zealand. She works with [New Zealand eScience Infrastructure (NeSI)](https://www.nesi.org.nz/) and is ready to help you with any questions you have about running Carpentries workshops or any other ways you can get involved with The Carpentries in New Zealand!  Contact her at <a href="mailto:admin-nz@carpentries.org">admin-nz@carpentries.org</a>.
<br><br>
<!-- END Section: About the Admin -->

<!-- BEGIN Section: Admin images  -->


<div class="row" style="display: none">
  <div class="medium-6 columns">
    <div class="team-member">
      <img data-src="https://avatars.githubusercontent.com/anenadic" width="128" height="128" class="img-responsive img-circle lazyload" alt="GitHub profile photo of Aleks Nenadic" />
      <h3>Aleksandra Nenadic</h3>
      <ul class="list-inline social-buttons">
        <li> <a href="https://github.com/anenadic"> <i class="fab fa-github"></i> </a> </li>
        <li> <a href="https://orcid.org/0000-0002-2269-3894"> <i class="far fa-file-alt"></i> </a> </li>
      </ul>
    </div>
  </div>
</div>

<!-- END Section: Admin images  -->

<!-- BEGIN Section: Workshop Request & Other info  -->


Want to host a Carpentries workshop in New Zealand?  Fill out <a href="https://amy.software-carpentry.org/forms/workshop/">this form</a> and Nooriyah will get right back to you!  
<br><br>
General questions about The Carpentries outside of New Zealand?  Contact <a href="mailto:team@carpentries.org">team@carpentries.org</a> and we’ll get your message to the right team member to follow up.
<br><br>

<!-- END Section: Workshop Request & Other info  -->

<!-- BEGIN Section: Upcoming Workshops  -->


<section id="team" class="bg-light-gray">

  <h2>Upcoming Carpentries Workshops in New Zealand</h2>

  {% assign upcoming_per_country = site.data.all_upcoming_workshops_plain  | where: "country", "NZ" %}

  {% if upcoming_per_country == empty %}  
      There are no upcoming Carpentries workshops in New Zealand.<br><br>
  {% else %}  
      {% include workshop_table_per_country.md %}<br><br> 
  {% endif %}

<!-- END Section: Upcoming Workshops  -->


<!-- BEGIN Section: Upcoming Other Events  -->


  <h2>Other Events in New Zealand</h2>
  <table class="table table-striped" style="width: 100%;">
    <tr>
      <td>
        <a href="#">Some other event</a>
      </td>
      <td>
        5 January 2020
      </td>
    </tr>
  </table>
<!-- END Section: Upcoming Other Events  -->

<!-- BEGIN Section: Instructors  -->

<h2>Our Instructor Community in New Zealand</h2>

{% assign people_list = site.data.publish_instructors | where: "country", "NZ" %}
{% include community_profiles.md %}
<!-- END Section: Instructors  -->

</div>
