---
layout: page
permalink: /workshopadmin_au/
---
{% include lazyload.html %}

<h1>Carpentries in Australia</h1>

Damien Irving is our Workshop Administrator in Australia. He is ready to help you with any questions you have about running Carpentries workshops or any other ways you can get involved with The Carpentries in Australia!  Contact him at <a href="mailto:admin-au@carpentries.org">admin-au@carpentries.org</a>.
<br><br>

<div class="row">
  <div class="medium columns">
    <div class="team-member">

    <img data-src="https://avatars.githubusercontent.com/DamienIrving" width=128 height=128 class="img-responsive img-circle lazyload" alt="GitHub profile photo of Damien Irving">
    <h3>Damien Irving</h3>
    <ul class="list-inline social-buttons">
        <li> <a href="https://twitter.com/DrClimate"> <i class="fab fa-twitter"></i> </a>
        <li> <a href="https://github.com/DamienIrving"> <i class="fab fa-github"></i> </a>
        <li> <a href="https://orcid.org/0000-0003-1258-5002"> <i class="ai ai-orcid"></i> </a>
        <li> <a href="http://www.drclimate.wordpress.com"> <i class="fas fa-link"></i> </a>
    </ul>
  </div>
</div>


Want to host a Carpentries workshop in Australia?  Fill out <a href="https://amy.software-carpentry.org/forms/workshop/">this form</a> and Damien will get right back to you!  
<br><br>
General questions about The Carpentries?  Contact <a href="mailto:team-uk@carpentries.org">team@carpentries.org</a> and we’ll get your message to the right team member to follow up.
<br><br>

<section id="team" class="bg-light-gray">

  <h2>Upcoming Carpentries Workshops in Australia</h2>

  {% assign upcoming_per_country = site.data.all_upcoming_workshops_plain  | where: "country", "AU" %}
  {% include workshop_table_per_country.md %}

  <h2>Other Events in Australia</h2>
  <table class="table table-striped" style="width: 100%;">

    <tr>
      <td>
        <a href="#">Some other event</a>
      </td>
      <td>
        5 January 2020
      </td>
    </tr>

  </table>


<h2>Our Instructor Community in Australia</h2>

{% assign people_list = site.data.publish_instructors | where: "country", "AU" %}
{% include community_profiles.md %}

</div>
