name: check, build, deploy hpc-carpentry.org

on:
  push:
    branches: main
  schedule:
    - cron: "0 8 * * *"

jobs:
  build-website:
    if: github.repository_owner == 'hpc-carpentry'
    runs-on: ubuntu-latest
    #  Set permissions for GITHUB_TOKEN to write to the repo
    #  (it needs to be able to write to the gh_pages branch)
    permissions:
      contents: write

    defaults:
      run:
        shell: bash

    steps:
      - name: Checkout the Repository
        uses: actions/checkout@master

      - name: Setup Ruby, JRuby and TruffleRuby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: '2.7'

      - name: Install yaml-lint
        run: |
          gem install yaml-lint

      - name: Lint _config.yml with yaml-lint
        run: |
          yaml-lint  _config.yml

      - name: Lint pages and blog posts
        run: |
          yaml-lint -q -n $(find _posts -regex ".*.md\|.*html") &&\
          yaml-lint -q -n $(find pages -regex ".*.md\|.*html")

      - name: Setup EESSI to give us R and Python modules
        uses: eessi/github-action-eessi@v2.0
        with:
          eessi_stack_version: '2021.06'

      - name: Create repository data files
        shell: bash
        env:
          GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}
        run: |
          module load R
          module load SciPy-bundle
          make data

#      - name: Create PDF file of some pages
#        uses: docker://pandoc/latex:latest
#        with:
#          args: >
#            --output files/pdf/online-workshop-recommendations.pdf
#            --pdf-engine=xelatex
#            -V geometry:margin=1in
#            pages/online-workshop-recommendations.md

      - name: Build and deploy gh-pages branch
        uses: helaili/jekyll-action@2.2.0
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          target_branch: 'gh-pages'
